h1 {
    color:salmon;
    text-align:center;
    font-family:Papyrus,Calibri
}
.salmon{
    color:darkgrey;
    text-align:center;
    font-family:Papyrus,Calibri
}
/* Centering an image */
.center img {
    display:inline-flex;
    margin-left: auto;
    margin-right:auto;
    width: 20%;
}

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a:link, a:visited {
    display:grid;
    font-weight:700;
    color:Background;
    background-color:pink;
    width:initial;
    text-align:left;
    padding: 4px;
    text-decoration:underline;
}

a:hover, a:active {
    background-color:aqua;
}
li {
    float: right;
   
}
wrapper {
    width: 100%;
    margin:auto;
}

right {
    width: 50%;
    float:right;
}

right {
    width: 50%;
    float: right
}